name: mcd_point_tracker
description: McD Point Tracker Flutter app skeleton
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  crypto: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.21.0

flutter:
  uses-material-design: true
